* {
    margin: 0;
    box-sizing: border-box;
}

#main {
    display: grid;
    grid-template-areas: 
    "header header header"
    "section section section";
    grid-template-rows: 20% 1fr;
    grid-template-columns: 25% 25% 25%;
    background-color: khaki;
    justify-content: center;
    grid-gap: 30px;
    height: 100vh;
}

header,
section {
    background-color: rgb(176, 159, 194);
    padding: 20px;
}

#header {
    grid-area: header;
    text-align: center;
    background-color: white;
}

.wrapper__head__line {
    border: 2px solid #FF8D2D;
    width: 64px;
    margin: 30px auto;
    padding: 0;
}

#item {
    text-align: center;
}

.body__column__square {
    width: 75px;
    height: 75px;
    border: 2px solid orange;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}

@media all and (max-width: 620px) {
    #main {
        grid-template-areas: 
        "header"
        "section";
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 95%;
    }
}
